node_modules
auth_info*.json
baileys_auth_info*
baileys_store*.json
browser-messages.json
browser-token.json
decoded-ws.json
docs
messages*.json
output.csv
Proxy
TestData
wa-logs*
coverage
.DS_Store
.env
*.tgz
output.txt
clean_comments.js
package-lock.json
wa-research
wa-research/
